<%- include('../partials/header') %>
<table id="list">
  <head>
      <th>Dish<br>Name</th>
      <th>Cooking<br>Time</th>
  </head>
  <body>
    <% dishes.forEach(function(d) { %>
      <tr>
        <td><%= d.dishName %></td>
        <td><%= d.cookingTime %></td>
        <td><a href="/dishes/<%= d._id %>">REVIEWS</a></td>
      </tr>
      <% }); %>
    </body>
  </table>
  
<%- include('../partials/footer') %>