<%- include('../partials/header') %>
<table class="tableClass" id="list">
  <caption><h2>Recipe List</h2></caption>
  <thead>
      <th>Dish Name</th>
      <th>Cooking Time</th>
  </thead>
  <tbody id="tbodyEdit">
    <% dishes.forEach(function(d) { %>
      <tr>
        <td class="tableClass"><%= d.dishName %></td>
        <td class="tableClass left"><%= d.cookingTime %></td>
        <td class="tableClass"><a href="/dishes/<%= d._id %>">REVIEWS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>