<%- include('../partials/header') %>

  <% if (user) { %>
    <br>
    <h2>Review</h2>
    <form method="POST" action="/dishes/<%= dish._id %>/reviews">
      <label>Review Here:</label>
      <textarea name="content"></textarea>
      <input type="submit" value="Post Review">
    </form>
    <% } %>
      <% if (dish.reviews.length) { %>
        <table>
          <head>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Reviews</th>
            </tr>
          </head>
          <body>
            <% let total = 0 %>
            <% dish.reviews.forEach(function(r) { %>
              <tr>
                <td class="review-user"><%= r.userName %></td>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.content %></td>
                <td>
                  <% if (user?._id.equals(r.user)) { %>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                      <button type="submit">DELETE</button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </body>
        </table>
        <% } else { %>
          <h3>Empty</h3>
          <% } %>

            <%- include('../partials/footer') %>